.need {
    margin-top: 20px;
    display: flex;

    .img-wrapper {
        flex: 1;

        img {
            width: 400px;
        }
    }

    .need-text {
        flex: 1;
    }
}

.trade-content {
    margin-top: 20px;
}