.page {
    position: relative;

    .header-wrapper {
        .header {
            position: fixed;
            top: 0;
            width: 100%;
            height: $header-height;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 10px 40px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
    
            &-navbar {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                &-brand {
                    display: inline-block;
    
                    img {
                        height: 50px;
                        display: inline-block;
                    }
                }
    
                &-nav {
                    margin: 0;
                    display: flex;
    
                    &-item {
                        padding: 0 20px;
                        font-size: 1.2rem;
                    }

                    .nav-item {
                        color: #000000;
                    }

                    .nav-item-active {
                        color: #1890ff;
                    }
                }
    
                &-lang {
                    margin: 0;
                    display: flex;
    
                    &-item {
                        padding: 0 6px;
    
                        img {
                            height: 24px;
                        }
                    }
                }
            }
        }
    
        a {
            line-height: 0;
        }
    
        ul, li {
            list-style: none;
            padding: 0;
        }
    }
    
    .body {
        overflow-y: auto;
        padding: $header-height 0 0 0;
        min-height: calc(100vh - 60px);
    }

    .margin {
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .footer {
        height: $footer-height;
        background-color: #014978;
        border-top: 1px solid rgba(0, 0, 0, .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        p {
            margin: 0;
            text-align: center;
            color: #bbbbbb;
        }
    }
}